

body{
    transition: opacity .5s;
    margin-top:0px;
    background-image:url(city_of_love-wallpaper-5120x2880.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position:center center;
}

#headmenu{
    top:0;
    left:69%;
    position:absolute;
    overflow: hidden;
    margin-top:0px;
}
#headmenu button{
    display: inline-block;
    border:2px solid darkblue;
    text-align:center;
    padding:5px;
    width:150px;
}
.headitem{
    display: inline-block;
    background:inherit;
    margin-top:10px;
    padding: 0px 0px 0px 30px;
    font-family:'Muli';
    font-size:27px;
    color:floralwhite;
    transition: background-color .3s;
}
.headitem:hover{
    background-color:darkblue;
    color:orange;
        
}
.back{
    position:absolute;
    top:0;
    left:1%;
}
.backbutton{
    color:white;
    background:inherit;
    margin-top:5px;
    display: inline-block;
    border:2px solid darkblue;
    text-align:center;
    padding:5px;
    width:150px;
    font-family: "Muli";
    font-size: 22px;
    transition:all .3s;
    cursor:pointer;
}
.backbutton:hover{
    background:darkblue;
    color:orange;
}
.backbutton span {
    content:'<<';
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    opacity:0.0;
}

.backbutton span:after {
    position: absolute;
    opacity:1.0;
    top: 0;
    right: 20px;
    transition: 0.5s;
}
  
.backbutton:hover span {
    content:'<<';
    opacity: 1.0;
    padding-right: 10px;
}
  
  .button:hover span:after {
    content:'<<';
    opacity: 1.0;
    right: 0;
}
.splash{
    margin-top:10%;
    height: inherit;
}
#title{
    margin-bottom: 0px;
    font-family:"Muli";
    font-size:100px;
    color:floralwhite;
}
#portrait{
    margin-right:90px;
    margin-left:90px;
    border-radius:200px;
    float:center;
}
.hi{
    margin:0px;
    color:floralwhite;
    font-family: "Muli";
    font-weight: lighter;
    font-size:30px;
}
.hi p{
    color:floralwhite;
    line-height: 30px;
}
#beauty{
    color:darkblue;
}
.sosmed img{
    transition:transform .2s;
}
#instagram:hover{
    transform:scale(1.25);
}
#linkedin:hover{
    transform:scale(1.25);
}
#portrait{
    transition:transform .5s;
}
#portrait:hover{
    transform:scale(1.25) rotate(360deg);
}
#portrait:active{
    transform:scale(100) rotate (1080deg);
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!RESUME.HTML!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
#Resume,html{
    line-height: 20px;
    height:100%;
    width:100%;
    transition: opacity .5s;
    margin:0px;
    font-family: "Muli";
    font-weight:"lighter";
    color:floralwhite;
}
*{
    box-sizing: border-box;
}
#backgroundimage{
    height:100%;
    filter:blur(1.8px);
    background-color:#C4C4C4;
    background-image:linear-gradient(#0F18FD,#EFCB0B,#FD7F0C);
    background-image:url(city_of_love-wallpaper-5120x2880.jpg);
    background-blend-mode: darken;
    background-size:cover;
    background-attachment: fixed;
    background-position:center;
    overflow: hidden;
}

.bio{
    height:90%;
    width:90%;
    position:absolute;
    top:60px;
    margin-left:10px;
}
#biopic{
    margin-top:0px;
    object-fit: cover;
}
.lightbluebox{
    background-color:rgb(33,117,244,0.6);
}
.darkredbox{
    background-color:rgb(231,29,29,0.6);
}
.lightyellowbox{
    position:absolute;
    top:48%;
    font-size:15px;
    background: rgba(236, 182, 3, 0.6);
    mix-blend-mode: darken, exclusion;
    width:20%;
    height:40%;
    font-size:28px;
}
#biodesc{
    font-size:18px;
}
#desc{
    margin-top:30px;
    height:45%;
}
.lightbrownbox{
    position: absolute;
    width: 25%;
    height: 40%;
    left: 23%;
    top: 13%;
    font-size:18px;
    background: rgb(180,120,30,0.6);
    mix-blend-mode: darken,exclusion;
}
.darkbluebox{
    position: absolute;
    width: 25%;
    height: 40%;
    left: 23%;
    top: 55%;
    font-weight: bolder;
    transition:opacity .5s;
    font-size:18px;

    background: rgb(66,62,223,0.6);
    mix-blend-mode: darken,exclusion;
}
.darkpurplebox{
   background:rgb(155,81,224,0.6);

}
.lightbluebox p{
    margin-left:15px;
    color:floralwhite;
}
.lightwhitebox{
    background-color:rgb(128,128,128,0.3);
    transition:background-color .4s;
}


.lightyellowbox p {
    margin-left:13px;
}
.lightwhitebox:hover{
    background-color:rgb(128,128,128,1.0);
}
.darkgreenbox{
    background:rgb(19,171,62,0.6);
}
.descstyle{
    position:absolute;
    margin-top:40px;
    top:48%;
    width:20%;
    height:40%;
    font-size:18px;
    background-image:url(makara-ui-fasilkom.png);
    background-position: center;
    opacity:0.0;
    background-size:cover;
    transition: opacity .3s;
    mix-blend-mode: darken;
}
.descstyle:hover{
    opacity:0.2;
}


.lightbrownbox p{
    margin-left:10px;
    color:floralwhite;
}
.StrengthStyle{
    position: absolute;
    width: 25%;
    height: 40%;
    left: 23%;
    top: 13%;
    background-image:url(lion-3007701_960_720.jpg);
    background-size: cover;
    opacity: 0.0;
    transition:opacity 0.3s;
    mix-blend-mode:darken;
}
.StrengthStyle:hover{
    opacity:0.3;
}

.darkbluebox:hover{
    background: rgb(66,62,223,0.4);
    background-size:cover;
    background-blend-mode: darken;
}


.WeaknessStyle{
    position: absolute;
    width: 25%;
    height: 40%;
    left: 23%;
    top: 55%;
    background-image:url(bluedesperate.jpg);
    background-size:cover;
    opacity:0.0;
    transition: opacity 0.3s;
    mix-blend-mode: lighten;
}
.WeaknessStyle:hover{
    opacity:0.5;
}


#boast p{
    font-size:20px;
    margin-left:30px;
}
#Weaknesses p{
    margin-left:15px;
}
#humbling p{
    font-size:20px;
    margin-left:30px;
}
.FormalStyle{
    background-image:url('class-of-2016-masters-graduates-had-strong-outcomes.jpg');
    opacity:0.0;
    background-size:cover;
    background-position: center;
    mix-blend-mode: lighten;
    transition: opacity .3s;
    width: 25%;
    height: 40%;
    left: 50%;
    top: 13%;
    position:absolute;
}
.FormalStyle:hover{
    opacity:0.4;
}
    

#formal{
    position:absolute;
    width: 25%;
    height: 40%;
    left: 50%;
    top: 13%;
    left:50%;
    font-size:22px;
}
#formaleducation{
    margin-left:10px;
}
.location{
    margin-top:20px;
    margin-bottom: 0px;    
    font-size:20px;
}
.detail{
    margin-top:0px;
    font-size:16px;
}

#non-formal{
    position: absolute;
    top:55%;
    left:50%;
    height:40%;
    width:25%;
    font-size:22px;
}
#non-formal p{
    margin-left:10px;
}
#non-formaleducation{
    margin-left:10px;
}
.NonformalStyle{
    position: absolute;
    top: 55%;
    left:50%;
    width:25%;
    height:40%;
    background-image:url(Pieper-Blog-StudyingSoloVsGroup.webp);
    background-size: cover;
    opacity: 0.0;
    mix-blend-mode: lighten;
    transition: opacity .3s;
}
.NonformalStyle:hover{
    opacity: 0.4;
}
#likes{
    position:absolute;
    width: 22%;
    height: 40%;
    left: 77%;
    top: 13%;
    font-size: 20px;
    line-height:18px;
}
#likes p{
    margin-left:10px;
}

.LikeStyle{
    position:absolute;
    width: 22%;
    height: 40%;
    left: 77%;
    top: 13%;
    background-image:url('Enjoy.jpg');
    mix-blend-mode: lighten;
    background-size:cover;
    background-position: center;
    opacity: 0.0;
    transition: opacity .3s;
}
.LikeStyle:hover{
    opacity: 0.3;
}
.interests{
    margin-left:30px;
    font-size:22px;
}
#dislikes{
    line-height:18px;
    position:absolute;
    width:22%;
    height:40%;
    top:55%;
    left:77%;
    font-size:20px;
}
#dislikes p{
    margin-left:10px;
}
.disinterests{
    font-size:22px;
    margin-left:30px;
}
.DislikeStyle{
    position:absolute;
    width:22%;
    height:40%;
    top:55%;
    left:77%;
    background-image:url('bored.jpeg');
    opacity: 0.0;
    mix-blend-mode: lighten;
    background-size:cover;
    background-position: center;
    transition : opacity .3s;
}
.DislikeStyle:hover{
    opacity: 0.4;
}
#description{
    font-size:18px;
}
#info{
    line-height:13px;
    font-size:13px;
    position:absolute;
    top: 30%;
    margin-top:0px;
    width:20%;
    height:130px;
}
#info p{
    margin-left:10px;
}
/*!!!!!!!!!!!!!!!!!!!!!ABOUT ME!!!!!!!!!!!!!!!!!!!!!!!!*/
#aboutmehtml{
    font-family:'Muli';
    font-weight:lighter;
    padding-right:100px;
    width:100%;
    display:flex;
    align-content: center;
}
#aboutme{
    background:rgb(11, 11, 85);
    height:100%;
    min-width:100%;
}
#backgroundaboutme{
    position: absolute;
    background-image: url(city_of_love-wallpaper-5120x2880.jpg);
    min-height:160em;
    width:100%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.pnd{
    position:absolute;
    height:40%;
    width:85%;
    background-color:red;
    mix-blend-mode:darken;
    top:40%;
    left:3%;

}
.pndtitle{
    position: absolute;
    height:8%;
    width:30%;
    background:rgb(131, 4, 4);
    text-outline: 4px;
    top:40%;
    left:3%;
    mix-blend-mode: normal;
    font-size:30px;
    font-weight: 100;
    text-align: center;
} 
.pndpicture{
    position: relative;
    background-image:url('jakarta.jpg');
    background-position: center;
    mix-blend-mode: darken;
    height:200px;
    width:200px;
    top:25%;
    left:3%;
}  
.pndtitle p{
    margin-top:20px;
}
.pndcontent{
    font-size:26px;
    line-height:30px;
    width:65%;
    position:absolute;
    top:50%;
    left:22%;
}
.ane{
    position:absolute;
    height:40%;
    width:85%;
    background-color:blue;
    mix-blend-mode:darken;
    top:100%;
    right :3%;
}
.anetitle{
    position:absolute;
    height:8%;
    width:33%;
    background:rgb(10, 48, 214);
    top:100%;
    right:3%;
    mix-blend-mode: normal;
    font-size:30px;
    font-weight: 100;
    text-align: center;
}
.anetitle p{
    margin-top:20px;
}
.anepicture{
    position: absolute;
    background-image:url('jelly.jpg');
    background-size:cover;
    background-position: center;
    mix-blend-mode: darken;
    height:200px;
    width:200px;
    top:25%;
    right:3%;
}
.anecontent{
    font-size:26px;
    line-height:30px;
    width:65%;
    position:absolute;
    top:110%;
    right:22%;
}
.mystery{
    position:absolute;
    height:75%;
    width: 65%;
    top:160%;
    left:17%;  
    align:center;
    background:rgb(236,189,24);
    mix-blend-mode: darken;
}
.mysterypicture{
    position: absolute;
    background-image:url('Tux.jpg');
    background-size:cover;
    background-position: center;
    height:200px;
    width:200px;
    top:160%;
    left:44%;
    border-radius:50%;
}
.mysterytitle{
    font-weight: 300;
    position:absolute;
    height:60px;
    top:188%;
    left:28%;
    background:rgb(178, 132, 12);
    font-size:30px;
    text-align:center;
}
.mysterytitle p{
    position:relative;
    margin-top:20px;
}
.mysterycontent{
    position:absolute;
    top:200%;
    left:25%;
    width:50%;
    line-height:30px;
    font-size:26px;
    text-align:center;
}
